
/* .parent{
	height: 1000px;
	width: 100%;
	background-color: red;
} */
.p-container{
	/* background-image:url('../img/paper.jpg'); */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#p-time{
	position: relative;
	height: 65%;
	width: 100%;
		/* opacity: 0.7; */
	/* background-color: #ccc; */
	/* background-image:url('../img/paper.jpg'); */
	
	/* overflow: hidden; */
	/* background:linear-gradient(to bottom, rgba(204,204,204,0.2), rgba(0,0,0,0.8)); */

}
#time-header{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}
#time-header a{
	color: #333;
	opacity: 0.7;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none
}
#time-header .active{
	opacity: 1;
}
#p-text p{
	margin: 18px 0;
	padding-left: 42px;
	color: #333;
	opacity: 0.6;
	font-size: 16px;
	font-weight: bold;
}
#p-time-change{
	color: #333;
	opacity: 0.6;

}
#p-text-center{
	margin-left: 10%;
	height: 60%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	/* -ms-align-items: center;
	align-items: center; */
	color: #333;
	font-size: 24px;
	font-weight: bold;
}
#p-text-center p{
	font-size: 16px;
	opacity: 0.6;
	margin: 4px 0;
}
#p-text-center p:nth-child(1){
	margin: 8px 0;
	font-size: 24px;
	opacity: 0.8;
}
#p-text-center p:nth-child(2){

	font-size: 20px;
}


#p-bottom{
	display: relative;
	height: 35%;
	/* background-color: red; */
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	/* background:linear-gradient(to bottom, #fff, #eee); */
	
}
#p-time-background{
	position: absolute;
	margin: 30px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-image: url('../img/她.jpg');

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	z-index: -1;
}
#p-bottom-text{
	color: #a4a4a4;
	font-size: 18px;
	font-weight: bold;
	opacity: 0.8;
}
.author{
	position: absolute;
	bottom: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #ccc;
	opacity: 0.7;
	/* background-color: ; */
}